.admin-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 48px;
}

.admin-container h1 {
  margin-bottom: 28px;
}

.btn-register {
  margin-bottom: 28px;
}

.list {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 18, 18, 0.38);
  border-radius: 4px;
  margin-bottom: 12px;
  justify-content: center;
  padding: 14px 8px;
}

.list p {
  margin-bottom: 8px;
}

.list button {
  padding: 4px 20px;
  margin-right: 8px;
  border: 0;
  border-radius: 4px;
  margin-top: 20px;
  font-weight: bold;
}

.btn-edit {
  background-color: #8d99ae;
}

.btn-delete {
  color: #f02d3a;
  background-color: transparent;
}

.btn-logout {
  height: 60px;
  width: 200px;
  border-radius: 4px;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  background-color: #9197ae;
  color: #fafafa;
  transition: all 0.5s;
  margin: 20px auto;
  display: block;
}

.btn-logout:hover {
  background-color: #6c77a3;
  color: #fff;
}

@media (max-width: 768px) {
  .btn-logout {
    height: 50px;
    width: 120px;
    border-radius: 4px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .btn-logout {
    height: 40px;
    width: 120px;
    border-radius: 4px;
    font-size: 16px;
  }
}
